.landing {
    width: 100%;
    height: 100%;
    padding-top: 0px;
}

.container {
    max-width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
}

.landing h1 {
    text-align: center;
}

.landing h3 {
    color: beige;
}

.landing img {
    /* border-radius: 10px; */
}

.carousal-img {
    height: 350px;
    object-fit: cover;
}